.Cal__Container__root {
  width: 100% !important;
}

.modal {
  background: white;
  border: 2px solid;
  box-sizing: border-box;
  padding: 10px;

  position: absolute;
  top: 98px;
  bottom: 0;
  width: 100%;
  z-index: 10; /* over app */
}

.modal .close {
  float: right;
  border-radius: 50%;
  font-size: 1em;
  margin: 0;
  line-height: 0;
  padding: 3px;
  color: white;
  background-color: #ccc;
  cursor: pointer;
}

.settings-icon {
  position: absolute;
  z-index: 10;
  width: 25px;
  height: 25px;
  right: 10px;
  top: 10px;
  color: #164187;
  cursor: pointer;
}
