.settings .chains {
  list-style: none;
  padding: 0;
}

.settings .chains li {
  display: flex;
  margin-right: 5px;
  padding: 15px 10px 15px 0;
  justify-content: space-between;
  border-bottom: 1px dashed #ccc;
}
